<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Countries</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body class="background_supporting">
<div id="root" class="theme-base-08">{{{htmlString}}}</div>

<script type="application/javascript">
    window.__INITIAL_STATE__ ={{{initialState}}};
</script>
<script src="/main.js"></script>

</body>
</html>

