* {
    box-sizing: border-box; }

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica', 'Verdana', sans-serif;
    font-weight: 400;
    font-display: optional;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

/**
* Loader
*/

@keyframes pulse {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

.pageLoader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader {
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.ldr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto 50px;
    width: 2.5em;
    height: 2.5em;
}

.ldr-blk {
    height: 35%;
    width: 35%;
    animation: pulse 0.75s ease-in infinite alternate;
    background-color: #CD040B;
}

.an_delay {
    animation-delay: 0.75s;
}

.header {
    width: 100%;
    background: #455a64;
    position: fixed;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-height: 150px;
    padding: 25px;
    top: 0;
}
.header .headerButton {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    text-indent: -30000px;
    overflow: hidden;
    opacity: 0.54;
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    border: none;
    outline: none;
    cursor: pointer;

}

.headerTitle {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: #FFF;
}

.background_supporting {background-color:#f6f6f6;}
.container{
    margin-top: 165px;
}
.devsiteSearchField_input {
    background: 0;
    border: 0;
    color: #212121;
    height: 36px;
    padding: 8px 8px 8px 72px;
    transition: color .2s;
    width: 100%;
    border-radius: 2px;
    font: 16px/20px Roboto,sans-serif;
    margin: 0 auto;
    max-width: 400px;
    outline: 0;
    display: block;
    vertical-align: middle;
    margin-top:15px;
}
.devsiteSearchField_image {
    color: #fff;
    left: 24px;
    position: absolute;
    top: 6px;
    transition: color .2s;
}
.devsiteSearchField_image::before {
    content: 'search';
}
.country_container{
    position: relative;
    top: 190px;
}
.country_card {
    padding: 16px;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 15px;
}
.icon-back{
    font-size: 40px;
    color: #FFF;
    display: block;
}


.countryDetails_cell{
    min-height: 46px;
    margin-bottom: 20px;
}
.pageHeader_backButton{
    width: 50px;
    height: 25px;
    background-color: #d58512;
    display: block;

}
.googlemap_holder{
    height: 400px;
}
.button
{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    -webkit-border-radius: 5px;
    font: normal 14px/16px Helvetica, Arial, sans-serif;
}

.button.black {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7d828c),color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e));
    border: solid 1px rgba(79, 79, 79, 0.75);
}
.button.black:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,
    from(#4286f5),
    color-stop(0.5, #4286f5),
    color-stop(0.5, #194fdb),
    to(#194fdb));
}

.ios-arrow-left {

    position:absolute;
    background-repeat:repeat-x;
    background-color: rgba(74,108,155,1);/*change this and the background color for the :before element*/
    background-image : -webkit-linear-gradient(
            bottom,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) 50%,
            rgba(255,255,255,0.1) 50%,
            rgba(255,255,255,0.3) 100%
    );
    height:30px;
    padding: 0 10px 0 8px;
    z-index : 0;
    border-radius: 6px;
    -webkit-border-top-left-radius : 10px 15px;
    -webkit-border-bottom-left-radius : 10px 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    box-shadow :-1px -1px 0px rgba(0,0,0,0.2)inset,
    0 1px 2px rgba(0,0,0,0.8)inset;
    font-size : 11px;
    display : block;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px #000;
    line-height : 30px;
    font-family : HelveticaNeue;
    font-weight: 700;
    -webkit-background-size : 30px;

    display : block;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px #000;
    line-height : 30px;
    font-family: HelveticaNeue;
}

.ios-arrow-left:before{
    position:absolute;
    top:9.9%;
    left:-5px;
    -webkit-background-size : 22px 22px;
    background-position :-2px -1.5px;
    background-color: rgba(74,108,155,1);/*change to the same as the main element*/
    background-image :
            -webkit-gradient(linear, left bottom, right top,
            from(rgba(0,0,0,0)),
            color-stop(0.5, rgba(0,0,0,0)),
            color-stop(0.5, rgba(255,255,255,0.1)),
            to(rgba(255,255,255,0.3)));
    height : 25px;
    width: 25px;
    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);
    -webkit-border-top-right-radius : 100px 40px;
    -webkit-border-top-left-radius : 30px 2px;
    -webkit-border-bottom-right-radius : 2px 30px;
    -webkit-border-bottom-left-radius : 40px 100px;
    z-index : 1;
    content : ' ';
    border-left : 1.5px solid rgba(255,255,255,0.3);
    box-shadow :  1px 1px 0 rgba(0,0,0,0.2) inset,
    -1px 1px 1px rgba(0,0,0,0.5) inset;
    -webkit-mask-image :
            -webkit-gradient(linear, left top, right bottom,
            from(#000000),
            color-stop(0.33,#000000),
            color-stop(0.5, transparent),
            to(transparent));
}

.searchBar {
    position: fixed;
    right: 8px;
    height: 100%;
}

.searchWrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* border: 1px solid black; */
    border-radius: 6px;
    padding: 0 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.searchAlpha {
    display: block;
    text-decoration: none;
    text-align: center;
}
/* */
.clear6 {height:6px;}
.clear12 {height:12px;}
.clear18 {height:18px;}
.clear24 {height:24px;}

.fontSize2{
    font-size: 26px;
}

.margin30 {margin:30px;}
.onlyTopMargin{
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
}

.wordBreak{
    word-break: break-word;
}